@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --background: 228 60% 98%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 262 52% 47%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 16% 91%;
    --secondary-foreground: 222 47% 11.2%;
    --muted: 220 16% 91%;
    --muted-foreground: 0 0% 46%;
    --accent: 229 53% 48%;
    --accent-foreground: 210 40% 98%;
    --destructive: 1 79% 52%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 52% 47%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 228 60% 98%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 262 52% 47%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 16% 91%;
    --secondary-foreground: 222 47% 11.2%;
    --muted: 220 16% 91%;
    --muted-foreground: 0 0% 46%;
    --accent: 229 53% 48%;
    --accent-foreground: 210 40% 98%;
    --destructive: 1 79% 52%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 52% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-gradient {
    @apply bg-gradient-to-r from-primary to-accent text-accent-foreground hover:opacity-90 transition-opacity;
  }
}
